.box {
  border: 1px  solid black;
  width: 500px;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 5px solid rgb(158, 158, 243);
}

.lose {
  border: 5px solid rgb(245, 165, 165);
}

.tie {
  border: 5px solid rgb(243, 144, 243);
}